[submodule "public"]
	path = public
	url = git@github.com:fernandoacorreia/fernandoacorreia.github.io.git
	branch = master
[submodule "themes/hugo-clarity"]
	path = themes/hugo-clarity
	url = git@github.com:fernandoacorreia/hugo-clarity.git
	branch = fernando/blog
